.ham {
  position: relative;
  z-index: 999;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: all 0.3s ease-in-out;
}
.hamRotate.active {
  transform: rotate(45deg);
}
.hamRotate180.active {
  transform: rotate(180deg);
}
.line {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: var(--off-white);
  stroke-width: 5.5;
  stroke-linecap: round;
}
.ham .top {
  stroke-dasharray: 40 130;
}
.ham .middle {
  stroke-dasharray: 40 140;
}
.ham .bottom {
  stroke-dasharray: 40 205;
}
.ham.active .top {
  stroke: var(--green);
  stroke-dasharray: 75 130;
  stroke-dashoffset: -63px;
}
.ham.active .middle {
  stroke: var(--green);
  stroke-dashoffset: -102px;
}
.ham.active .bottom {
  stroke: var(--green);
  stroke-dasharray: 110 205;
  stroke-dashoffset: -86px;
}
