.how-to-play {
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--green);
    width: 100vw;
    height: 100vh;
    padding: 1.9rem 1rem 0;

    .avatar-stack {
      display: flex;
      height: 30px;
      .avatar-preview:not(:last-child) {
        margin-right: -1rem;
      }
    }
  
    footer {
      display: flex;
      gap: 1rem;
      justify-content: center;
      max-width: 500px;
      margin: auto;
      opacity: 0;
  
      &.fade-in-footer {
        opacity: 1; 
        animation: fadeIn 0.5s ease-out forwards;
      }
    }
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  