.modal {
  display: block;
  background: var(--light-green);
  color: white;
  border-radius: 8px;
  padding: 20px;
  max-width: 500px;
  border-color: transparent;
  width: 90%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1001;

  header {
    display: flex;
    justify-content: space-between;
  }

  .modal__title {
    margin-top: 0;
    text-align: left;
  }

  &__close {
    margin-top: 5px;
    font-size: 20px;
    cursor: pointer;
    padding: 0;

    .icon {
      color: var(--red);
      background-color: var(--off-white);
      padding: 0.2rem;
      border-radius: 50%;
    }
  }

  &__content {
    margin: 2rem 0;
    color: #0f5d32;
    font-size: 1.2rem;
    line-height: 1.5rem;
  }

  &__buttons {
    display: flex;
    gap: 10px;
    justify-content: flex-end;

    .secondary {
      background-color: var(--green);
      border-bottom: 5px solid #0f5d32;
    }
  }
}
