.draw-container {
  &__player-preview {
    margin-top: 1rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    flex-direction: column;
  }

  canvas {
    background-color: white;
    border-radius: 10px;
    margin: 2rem auto;
    touch-action: none;
  }

  .word-choices {
    list-style: none;
    margin: 3rem 0;
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    li {
      padding: 3px;
      border: 3px dashed transparent;
      border-radius: 1rem;

      &:has(.active) {
        border-color: var(--light-green);
      }
      .word-option-button {
        color: var(--green);
        background-color: var(--off-white);
      }
    }
  }
}
