.tic-tac-toe-container {
  text-align: center;
  padding: 1.9rem 1rem 0;

  h1 {
    margin-bottom: 1rem;
  }

  .board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    justify-content: center;
    margin-bottom: 2rem;
    padding: 0;
  }

  .cell {
    width: 100%;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--light-green);
    font-size: 2em;
    color: var(--green);
    cursor: pointer;
    border-radius: 10px;
    &.circle {
      background-image: url("../../assets/images/tic-tac-toe-circle.png");
      background-size: 50% 50%;
      background-repeat: no-repeat;
      background-position: center;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &.cross {
      background-image: url("../../assets/images/tic-tac-toe-cross.png");
      background-size: 50% 50%;
      background-repeat: no-repeat;
      background-position: center;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .status-message {
    margin: 1rem 0;
    font-size: 1.2rem;
    font-family: var(--font);
  }
  .button-wrapper {
    display: flex;
    gap: 1rem;
    align-items: start;
  }
}
