.tipsy-turns-container {
  .chosen-player-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100%;
    border-radius: 10px;
    color: var(--off-white);
    font-family: var(--font);
    &:has(.selected-player) {
      border-style: solid;
    }
    .empty-state {
      display: flex;
      gap: 0.5rem;
      align-items: center;
      svg {
        height: 1.2rem;
        path {
          fill: var(--off-white);
        }
      }
    }
  }
  .player-select-container {
    margin: 1rem 0;
    list-style-type: none;
    display: flex;
    gap: 0.8rem;
    flex-direction: column;
    .player-container {
      padding: 0.5rem;
      border-radius: 10px;
      border: 3px dashed transparent;
      background-color: var(--light-green);
      .player-select {
        padding: 0;
        .player-name {
          color: var(--off-white);
        }
      }

      &.selected {
        border-color: var(--off-white);
      }
    }
  }
  .button-wrapper {
    display: flex;
    gap: 1rem;
    align-items: center;
    align-items: start;
  }
  .get-new-question-button {
    width: 100%;
    margin-top: -8px;
    padding: 2rem 0;
  }
}
