.where-that-whistle {
  .hider-container {
    margin-top: 1rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    flex-direction: column;
  }
  .time-container {
    margin-bottom: 2rem;
    color: var(--off-white);
    .time-title {
      text-align: center;
      font-weight: 400;
      font-size: 1.2rem;
    }
    .time-controls {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 20px;
      .time-display {
        font-weight: 700;
        font-size: 3rem;
      }
      button {
        background-color: var(--red);
      }
    }
  }
}
