@font-face {
  font-family: "Arcade Adventure";
  src: url("../assets/fonts/Kanit-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Arcade Adventure Bold";
  src: url("../assets/fonts/Kanit-Bold.ttf") format("truetype");
}

:root {
  --font: "Arcade Adventure";
  --font-bold: "Arcade Adventure Bold";
  --green: #369064;
  --light-green: #6ecea0;
  --off-white: #fffcc1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  background-color: var(--green);
}

h1 {
  color: #e64d48;
  font-size: 3rem;
  text-transform: uppercase;
  text-shadow: -5px -5px 0 var(--off-white), 5px -5px 0 var(--off-white), -5px 5px 0 var(--off-white),
    5px 5px 0 var(--off-white), 0 -5px 0 var(--off-white), 0 5px 0 var(--off-white), -5px 0 0 var(--off-white),
    5px 0 0 var(--off-white);
  text-align: center;
  font-family: var(--font-bold);
}

.explanation-text {
  text-align: center;
  font-family: var(--font);
  color: var(--light-green);
  font-size: 1.2rem;
}

button {
  border: 0;
  font-size: 20px;
  font-weight: 700;
  align-items: center;
  padding: 1rem;
  background: transparent;
  border-radius: 10px;
  text-align: center;
  width: 100%;
  height: fit-content;
  color: white;

  &.primary {
    background-color: #e64d48;
    border-bottom: 5px solid #901814;
  }

  &.secondary {
    background-color: var(--green);
    border-color: var(--green);
    svg path {
      fill: var(--light-green);
    }
  }

  .icon {
    height: 20px;
  }
}

main {
  padding: 1rem;
}
