.manage-players-container {
  min-height: 100vh;
  background-color: #6ecea0;
  padding: 30px 0;
  &__title {
    margin-bottom: 1rem;
  }
  &__player-list {
    list-style: none;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    margin-bottom: 1rem;
  }

  &__button-container {
    display: flex;
    gap: 3rem;
    flex-direction: column;
  }
}
