@mixin title($size, $borderWidth) {
  color: #e64d48;
  font-size: $size;
  text-shadow: -5px -5px 0 var(--off-white), 5px -5px 0 var(--off-white), -5px 5px 0 var(--off-white),
    5px 5px 0 var(--off-white), 0 -5px 0 var(--off-white), 0 5px 0 var(--off-white), -5px 0 0 var(--off-white),
    5px 0 0 var(--off-white);
  text-align: center;
  font-family: var(--font-bold);
}