.current-player-preview {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  color: var(--off-white);
  &__wrapper {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
  }
}