.current-player-preview {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  color: var(--light-green);
  .current-player-wrapper {
    position: relative;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    text-align: center;
    color: var(--off-white);
    font-size: 0.9rem;
    font-weight: 700;
  }
}