.current-player-preview {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    .current-player-wrapper {
        position: relative;
        display: flex;
        gap: 1rem;
        flex-direction: column;
        text-align: center;
        opacity: .5;
        img {
            aspect-ratio: 1;
            border-radius: 100%;
            border: 4px solid var(--off-white);
        }
        > .points-text {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 30px;
            display: flex;
            gap: 3px;
            align-items: center;
            width: fit-content;
            font-size: 1rem;
            text-wrap: nowrap;
            padding: 0 .5rem;
            border-radius: 100px;
            background-color: var(--off-white);
            color: #e64d48;
            font-family: var(--font-bold);
          }
          &.active {
            opacity: 1;
          }
    }
}