.navbar-container {
  display: flex;
  justify-content: center;
  button {
    padding: 0;
  }
  .player-list {
    position: fixed;
    top: -9999px;
    width: 100vw;
    height: 100vh;
    background-color: #6ecea0;
    padding: 4rem 1rem;
    list-style: none;
    &__title {
      margin-bottom: 60px;
    }
    &.show {
      top: 0;
    }
    .player-container {
      display: flex;
      gap: 20px;
      justify-content: space-between;
      align-items: center;
      background-color: #6ecea0;
      border-radius: 10px;
      margin-bottom: 2rem;

      .avatar-preview {
        position: relative;
        height: 80px;
        aspect-ratio: 1;
        border-radius: 100%;
        border: 4px solid #fffcc1;
        img {
          width: 100%;
          height: 100%;
          border-radius: 100%;
          object-fit: cover;
        }
      }
      .user-details {
        margin-right: auto;
        .player-name {
          font-size: 1.5rem;
          font-family: var(--font-bold);
          color: #fffcc1;
        }
        .items-container {
          display: flex;
          gap: 0.5rem;
          align-items: center;
          .item {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 100%;
            width: 25px;
            height: 25px;
            background-color: #e64d48;
          }
        }
      }
      .place {
        display: flex;
        align-items: center;
        background-color: #fffcc1;
        border-radius: 10px;
        color: #6ecea0;
        font-size: 2rem;
        font-family: var(--font-bold);
        padding: 0 2rem;
        height: 80px;
      }
    }
  }
}
