.navbar-container {
  position: fixed;
  right: 0;
  top: 1.2rem;
  display: flex;
  justify-content: end;
  z-index: 999;
  .hamburger-button {
    padding: 0;
    padding-right: 1rem;
  }
  .primary {
    width: 2.2rem;
    height: 2.2rem;
    position: absolute;
    top: 2rem;
    left: 1.8rem;
    border-radius: 100%;
    padding: 0.5rem;
    border-bottom: transparent;
    background-color: var(--red);
    .icon {
      height: 1rem;
    }
  }
  .player-list {
    display: grid;
    grid-template-rows: auto 1fr;
    position: fixed;
    top: -9999px;
    width: 100vw;
    height: 100vh;
    background-color: var(--light-green);
    padding: 2rem 1rem 6rem;
    list-style: none;
    z-index: 9;
    &.show {
      top: 0;
    }
    > ul {
      overflow-x: auto;
      margin: 1rem 0;
      width: 100%;
      max-width: 500px;
      margin: auto;
    }
    .player-container {
      display: flex;
      gap: 20px;
      justify-content: space-between;
      align-items: center;
      background-color: var(--light-green);
      border-radius: 10px;
      margin-bottom: 1rem;
      .user-details {
        margin-right: auto;
        .player-name {
          font-family: var(--font-bold);
          color: var(--off-white);
        }
        .items-container {
          display: flex;
          gap: 0.5rem;
          align-items: center;
          .item {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 100%;
            width: 25px;
            height: 25px;
            color: var(--red);
          }
        }
      }
      &:first-of-type {
        .place {
          color: var(--green);
          background-color: var(--off-white);
        }
      }
      .place {
        display: flex;
        align-items: center;
        background-color: var(--green);
        border-radius: 10px;
        color: var(--light-green);
        font-size: 2rem;
        font-family: var(--font-bold);
        padding: 0 2rem;
        height: 80px;
      }
    }
  }
}
